@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",  sans-serif;
    scroll-behavior: smooth;
    max-width: 100%;
}

body{
    background-color: #1c2834;
}

header{
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 80px;
}

.logo{
    font-size: 1.4rem;
    font-weight: 800;
    color: #01a29c;
    text-decoration: none;
}

.navbar{
    display: flex;
}

.navbar li{
    list-style: none;
}

.navbar li a{
    font-size: 1rem;
    padding: 10px 20px;
    text-decoration: none;
    color: #01a29c;
    font-weight: 500;
}

header .navbar li a:hover{
    background: #01a29c;
    color: white;
    border-radius: 5px;
}

#menu-icon{
    font-size: 2rem;
    cursor: pointer;
    visibility: hidden;
}

.textbox{
    margin-left: 10%;
    margin-top: 15%;
    position: relative;
}

.textbox h1{
    font-size: 50px;
    color: #e7eafb;
    margin-bottom: 20px;
}

span{
    color: #01a29c;
}

.textbox p{
    color: #e7eafb;
}

.textbox a{
    background: #2b435a;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
    cursor: pointer;
}

.img-box{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
    transform: translateY(-8px);
}

.img-box img{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}

.img-box .sci{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 50px;
}

.img-box .sci li{
    list-style: none;
    padding: 10px 10px;
}

.img-box .sci li a{
    
    color: #e7eafb;
    font-size: 25px;
}

.skills{
    width: 90%;
    min-height: 100vh;
    color: white;
    margin: 200px 50px;
}

.heading{
    display: flex;
    justify-content: center;
    padding: 16px;
}

.heading h1{
    font-size: 2.2rem;
    font-weight: 600;
    border-bottom: 2px solid #01a29c;
}

.skills-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.skills-img{
    width: 600px;
    height: 500px;
}

.skills-img img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.skills-bars{
    display: flex;
    flex-direction: column;
}

.skills-text h2{
    font-weight: 600;
}

.skills-text p{
    font-size: 0.9rem;
    margin: 1rem 0;
}

.skills-box{
    position: relative;
    display: flex;
    align-items: center;
    background: #2c3e50;
    margin: 1rem 1rem;
    height: 3.4rem;
    justify-content: space-between;
    padding: 0 10px;
    border-radius: 10px;
}

.skills-box i{
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    color: white;
}

.skills-box h3{
    margin-left: 1rem;
    font-size: 1rem;
    font-weight: 600;
}

.percent-bar{
    position: absolute;
    left: 0;
    bottom: 0;
    background: #01a29c;
    height: 0.34rem;
    border-radius: 10px;
}

.html-bar{
    width: 94%;
}

.css-bar{
    width: 84%;
}

.js-bar{
    width: 65%;
}

.ux-bar{
    width: 80%;
}

.education{
    padding-top: 10px;
    transform: translateY(-80px);
}

.education  h1{
    color: white;
} 


.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}
  

.timeline::after {
content: '';
position: absolute;
width: 6px;
background-color: white;
top: 0;
bottom: 0;
left: 50%;
margin-left: -3px;
}


.container {
padding: 10px 40px;
position: relative;
background-color: inherit;
width: 50%;
}


.container::after {
content: '';
position: absolute;
width: 25px;
height: 25px;
right: -17px;
background-color: white;
border: 4px solid #01a29c;
top: 15px;
border-radius: 50%;
z-index: 1;
}


.left {
left: 0;
}

.right {
left: 50%;
}


.left::before {
content: " ";
height: 0;
position: absolute;
top: 22px;
width: 0;
z-index: 1;
right: 30px;
border: medium solid white;
border-width: 10px 0 10px 10px;
border-color: transparent transparent transparent white;
}

.right::before {
content: " ";
height: 0;
position: absolute;
top: 22px;
width: 0;
z-index: 1;
left: 30px;
border: medium solid white;
border-width: 10px 10px 10px 0;
border-color: transparent white transparent transparent;
}


.right::after {
left: -16px;
}

.content {
padding: 20px 30px;
background-color: white;
position: relative;
border-radius: 6px;
}


@media screen and (max-width: 600px) {
  .timeline::after {
    left: 31px;
  }

  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  .left::after, .right::after {
    left: 15px;
  }


  .right {
    left: 0%;
  }

}

 @media(max-width: 991px){

    #menu-icon{
        visibility: visible;
        color: #01a29c;
        cursor: pointer;
        position: relative;
        display: flex;
        align-items: flex-end;
    }

    .logo{
        font-size: 1.4rem;
        font-weight: 600;
        color: #01a29c;
        text-decoration: none;
       
    }

    header{

        padding: 10px 70px;
        background-color: #e7eafb;;
    }

    header .navbar{
        display: none;
    }

    header .navbar.active{
        visibility: visible;
        width: 100%;
        height: calc(100% - 50px);
        position: fixed;
        top: 50px;
        left: 0;
        margin-top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: white;
        z-index: 100;
    }

    header .navbar li{
        margin-left: 0;
    }

    header .navbar li a{
        color: #111;
        font-size: 1.6em;
    }

    
    header .navbar.active li a:hover{
        background: none;
        color: #01a29c;
    }

    
    .textbox{
        display: block;
        max-width: 40%;
        z-index: -1;
    }

        
    .textbox h1{
        position: relative;
        font-size: 50px;
        color: #e7eafb;
        margin-bottom: 20px;
        
    }

    .textbox a{
        cursor: pointer;
    }

    span{
        color: #01a29c;
    }

    .textbox p{
        color: #e7eafb;
    }

    .textbox a{
        background: #2b435a;
        padding: 10px 18px;
        text-decoration: none;
        font-weight: bold;
        color: white;
        display: inline-block;
        margin: 30px 0;
        border-radius: 5px;
        
    }

    .img-box{
        position: absolute;
        bottom: 250px;
        right: 50px;
        max-width: 100%;
        height: 40%;
    }

    .img-box .sci{
        position: relative;
        padding-left: 40px;
    }
}
    


 
